// contract
.contract {
   padding: 160px 0 90px;

   @media (max-width: $tablet) {
      padding: 140px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;      
   }

   &__title {
      text-align: center;
   }

   &__title--1 {

      &::after {
         left: 17%;
      }
   }

   &__title--2 {
      &::after {
         left: 31%;
      }
   }

   &__content {
      border: solid 1px $mainColor;
   }

   &__img {
      width: 100%;
      object-fit: cover;
   }
}