// policy
.plan {
   padding: 160px 0 90px;

   @media (max-width: $tablet) {
      padding: 140px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__title {
      align-self: center;

      &::after {
         left: 24%;
      }
   }

   &__title.landing {
      &::after {
         left: 17%;
      }
   }

   &__title.card-website {
      &::after {
         left: 30%;
      }
   }

   &__title.multi-page {
      text-align: center;

      &::after {
         left: 25%;
      }
   }

   &__title.technical-support {
      text-align: center;

      &::after {
         left: 26%;
      }
   }
}
