//questions
.questions {
   padding: 90px 0 90px;

   @media (max-width: $tablet) {
      padding: 70px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;      
   }

   &__title {
      text-align: center;

      &::after {
         left: 36%;

         @media (max-width: $mobileSmall) {
            left: 34%;
         }
      }
   }

   &__content {
      width: 100%;
   }
}

.spollers {
   &__list {
      margin-left: em(25, 20);
   }
}

.border-none {
   border: none;
}

