// policy
.terms {
   padding: 160px 0 90px;

   @media (max-width: $tablet) {
      padding: 140px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__title {
      text-align: center;
      align-self: center;

      &::after {
         left: 31%;
      }
   }
}

html {
    scroll-padding-top: 130px; /* Высота вашего фиксированного меню */
    scroll-behavior: smooth; /* Плавная прокрутка (опционально) */
}
