// policy
.terms {
 padding: 160px 0 90px;

   @media (max-width: $tablet) {
      padding: 140px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;      
   }

   &__title {
      text-align: center;
      align-self: center;

      &::after {
         left: 31%;
      }
   }
}

// Прокрутка к нужному блоку при переходе по якорной ссылке
// c другой страницы с учетом высоты фиксированного header 
*[id]:before {
   display: block;
   content: " ";
   margin-top: -130px;
   height: 130px;
   visibility: hidden;
}